{% extends "base.html" %}

{% block title %}Product List{% endblock %}

{% block content %}
<h1 class="mb-4">Product List</h1>
<div class="row">
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card product-card p-3">
            <img src="{{ url_for('static', filename='uploads/' ~ product[5]) }}" class="card-img-top product-image" alt="{{ product[1] }}">
            <div class="card-body">
                <h5 class="card-title">{{ product[1] }}</h5>
                <p class="card-text">{{ product[2][:100] }}{% if product[2]|length > 100 %}...{% endif %}</p>
                <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#productModal{{ product[0] }}">
                    Read more
                </button>
                <p class="card-text"><strong>Price:</strong> ${{ product[3] }}</p>
                <p class="card-text"><strong>Stock:</strong> {{ product[4] }}</p>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="productModal{{ product[0] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ product[1] }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ product[2] }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
